.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  z-index: 10;
  background-color: var(--main-dark);
  position: sticky;
  top: 0;
  color: white;
  user-select: none;
  user-zoom: none;
}
.header__left > img {
  width: 70px;
  -webkit-user-drag: none;
  cursor: pointer;
}
.header__right > a {
  color: white;
  font-size: 2rem;
}
