@import url(https://fonts.googleapis.com/css?family=Trirong);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Trirong", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --main-dark: #041c32;
  --dark-body: #04293a;
  --dark-blue: #064663;
  background-color: var(--dark-body);
}
