.rai {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 100vh;
}
.rai__main {
  display: flex;
  align-items: flex-start;
  flex: 1;
  width: 100%;
  flex: 1;
  max-height: 100%;
}
.rai__main__main {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  overflow-y: scroll;
  padding: 10px;
}
.rai__main__main > h1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.rai__main__main > p {
  margin-bottom: 5px;
}
.rai__main__main > h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 3px;
}
.rai__main__main > p > span {
  background-color: #f5f5f5;
  padding: 0px 5px;
}
.rai__main__main > img {
  width: 30%;
  margin: 10px auto;
}
.rai__main__main::-webkit-scrollbar {
  display: none;
}
.rai__main__main__nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 30px 0;
  padding: 0px 10px;
  margin-bottom: 20vh;
}
.rai__main__main__nav > a {
  color: white;
  text-decoration: none;
  background-color: var(--main-dark);
  width: 200px;
  text-align: center;
  padding: 5px 0px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all 1s;
}
.rai__main__main__nav > a:hover {
  background-color: var(--dark-blue);
}
.rai__main__main__canvas {
  padding: 30px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #282a36;
}
.rai__main__main table {
  margin: 10px auto;
  width: 100%;
  color: white;
}
.rai__main__main table tr span {
  background-color: var(--main-dark);
  padding: 0px 5px;
  margin-right: 2px;
  font-family: "Times New Roman", Times, serif;
}
.rai__main__main table tr {
  text-align: start;
  background-color: var(--dark-blue);
}
.rai__main__main table td {
  padding: 3px 10px;
}

@media only screen and (max-width: 768px) {
  .rai__main {
    width: 100%;
  }
  .rai__main__main {
    flex: 1;
    width: 100%;
  }
}
